# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/atomix.iml
.idea/.gitignore
.idea/.name
.idea/deployment.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/lines.iml
.idea/misc.xml
.idea/modules.xml
.idea/shelf/
.idea/vcs.xml
.idea/workspace.xml
.idea
build/
cmake-build-debug/
osxbuild/
